In [1]:
# Import Required Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path

# Set display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")

In [2]:
# Set Data Directory Path
data_dir = r"c:\Users\guine\Documents\BC#4\Hyper_python\BI project\Data Edge Internal Data"
file_path = os.path.join(data_dir, "dim__projects__anonymized.csv")

# Verify file exists
if os.path.exists(file_path):
    print(f"✓ File found: {file_path}")
    print(f"File size: {os.path.getsize(file_path)} bytes")
else:
    print(f"✗ File not found: {file_path}")

✓ File found: c:\Users\guine\Documents\BC#4\Hyper_python\BI project\Data Edge Internal Data\dim__projects__anonymized.csv
File size: 10757 bytes

In [3]:
# Load Project Data
try:
    df_projects = pd.read_csv(file_path)
    print("✓ Data loaded successfully!")
    print(f"Dataset shape: {df_projects.shape}")
except Exception as e:
    print(f"✗ Error loading data: {e}")

✓ Data loaded successfully!
Dataset shape: (91, 7)

In [4]:
# Basic Information
print("=== BASIC INFORMATION ===")
print(f"Shape: {df_projects.shape}")
print(f"Columns: {list(df_projects.columns)}")
print(f"Data types:\n{df_projects.dtypes}")
print(f"\nMemory usage: {df_projects.memory_usage(deep=True).sum() / 1024:.2f} KB")

=== BASIC INFORMATION ===
Shape: (91, 7)
Columns: ['project_id', 'client_id', 'clockify_project_billable', 'project_duration', 'estimated_durationn', 'client_anon', 'project_anon']
Data types:
project_id                   object
client_id                    object
clockify_project_billable      bool
project_duration             object
estimated_durationn          object
client_anon                  object
project_anon                 object
dtype: object

Memory usage: 39.87 KB

In [5]:
# First Few Rows
print("=== FIRST 5 ROWS ===")
display(df_projects.head())

print("\n=== LAST 5 ROWS ===")
display(df_projects.tail())

=== FIRST 5 ROWS ===

,project_id,client_id,clockify_project_billable,project_duration,estimated_durationn,client_anon,project_anon
0,5f60a92df2bfed445099122e,5f437b54d13ed94468add358,False,232H,Not estimated,"Taylor, Simmons and Anderson",Obetald semester
1,65a66b6f7349ba6dbd1f1086,5f437b54d13ed94468add358,False,414H,Not estimated,"Taylor, Simmons and Anderson","Brown, Martinez and Manning Projects"
2,5f437f189decb91192e37bc0,5f437b54d13ed94468add358,False,10321H,Not estimated,"Taylor, Simmons and Anderson",Semester
3,6179a9ac4d694b7ecbe75ea6,5f437b54d13ed94468add358,False,396H,Not estimated,"Taylor, Simmons and Anderson",Vård av barn
4,65a66b65efacdd3a4371df50,5f437b54d13ed94468add358,False,52H,Not estimated,"Taylor, Simmons and Anderson",Competence development

=== LAST 5 ROWS ===

,project_id,client_id,clockify_project_billable,project_duration,estimated_durationn,client_anon,project_anon
86,66fe75d1e316642842e5dc8c,66fe75bfcdc43032a10267d7,True,948H,Not estimated,"Ramirez, Rodriguez and Gonzalez",Data & AI support
87,6715f9d290254d10ca81e784,6715f9ce898fb011477dec07,True,994H,Not estimated,"Harris, Watson and Donaldson",Data Specialist
88,671fe491605d557fc53c80f3,671fe472a75c3e4ef3b541e8,True,924H,Not estimated,"Reed, Berry and Wilkins",Enterprise Peters and Sons
89,677fb4341c567d719ff4f8bd,677fb4321c567d719ff4f866,True,39H,Not estimated,"Rivera, Davis and Roberts",WoW DS & Analytics team
90,679b93d05d710856f30c8495,679b93c45d710856f30c8295,True,115H,Not estimated,Ward and Sons,Geo Opp. Ass.

In [6]:
# Missing Values Analysis
print("=== MISSING VALUES ===")
missing_data = df_projects.isnull().sum()
missing_percent = (missing_data / len(df_projects)) * 100
missing_df = pd.DataFrame({
    'Missing Count': missing_data,
    'Missing Percentage': missing_percent
}).sort_values('Missing Count', ascending=False)

print(missing_df[missing_df['Missing Count'] > 0])

# Duplicates
print(f"\n=== DUPLICATES ===")
print(f"Total duplicated rows: {df_projects.duplicated().sum()}")
print(f"Percentage of duplicates: {(df_projects.duplicated().sum() / len(df_projects)) * 100:.2f}%")

=== MISSING VALUES ===
             Missing Count  Missing Percentage
client_id                1            1.098901
client_anon              1            1.098901

=== DUPLICATES ===
Total duplicated rows: 0
Percentage of duplicates: 0.00%

In [7]:
df_projects[df_projects['clockify_project_billable'] == True].groupby('client_id')['project_id'].size().sum()

np.int64(81)

In [8]:
df_projects[df_projects['project_id'] == '5f437b557d26442bf54530ac']

,project_id,client_id,clockify_project_billable,project_duration,estimated_durationn,client_anon,project_anon
6,5f437b557d26442bf54530ac,5f437b54d13ed94468add358,False,21358H8M,Not estimated,"Taylor, Simmons and Anderson",Interntid

In [9]:
len(df_projects.project_id.unique())

91

In [10]:
df_projects[df_projects['project_duration'] == '0S']

,project_id,client_id,clockify_project_billable,project_duration,estimated_durationn,client_anon,project_anon
8,65a4f2b9c103c556d36f5a75,65a4f2b0c103c556d36f58f9,False,0S,Not estimated,"Brown, Martinez and Manning",First blog post on website
9,66f65d5bce65d308a05d83a1,NaN,True,0S,Not estimated,NaN,svenska
49,632088d2546c0d171c027014,625e8513bdcc2633b147c0f4,True,0S,Not estimated,Jones-Willis,Transfers
72,649ab2ef8212c016cee5c856,649ab2945beb74277a46dc13,True,0S,Not estimated,Murphy-Herrera,Prisoptimering fas 1

In [12]:
df_projects.estimated_durationn.value_counts()

estimated_durationn
Not estimated    90
PT400H            1
Name: count, dtype: int64

In [12]:
import re
    
def extract_hours(duration_str):
    """Extract hours from duration string format like '21358H8M', '0H0M0S', '0S'"""
    if pd.isna(duration_str):
        return None
    
    duration_str = str(duration_str).strip()
    
    # Handle special case '0S' (0 seconds = 0 hours)
    if duration_str == '0S':
        return 0.0
    
    # Use regex to find hours (number before 'H')
    hours_match = re.search(r'(\d+)H', duration_str)
    
    if hours_match:
        return float(hours_match.group(1))
    else:
        # If no 'H' found, check if it's just a number
        if duration_str.isdigit():
            return float(duration_str)
        else:
            return None

# Apply the conversion function
df_projects['project_duration_hours'] = df_projects['project_duration'].apply(extract_hours)

# Show some examples of the conversion
print(f"\nConversion examples:")
sample_conversions = df_projects[['project_duration', 'project_duration_hours']].head(15)
display(sample_conversions)

# Check for any conversion issues
invalid_durations = df_projects['project_duration_hours'].isna().sum()
if invalid_durations > 0:
    print(f"⚠️  Warning: {invalid_durations} project_duration values could not be converted")
    print("Examples of unconverted values:")
    unconverted = df_projects[df_projects['project_duration_hours'].isna()]['project_duration'].unique()[:10]
    print(unconverted)

# Remove projects with invalid duration values
df_projects_clean = df_projects.dropna(subset=['project_duration_hours'])
print(f"Projects after cleaning: {len(df_projects_clean)}")

Conversion examples:

   project_duration  project_duration_hours
0              232H                   232.0
1              414H                   414.0
2            10321H                 10321.0
3              396H                   396.0
4               52H                    52.0
5             7156H                  7156.0
6          21358H8M                 21358.0
7           982H12M                   982.0
8                0S                     0.0
9                0S                     0.0
10            3027H                  3027.0
11            1313H                  1313.0
12             800H                   800.0
13             639H                   639.0
14            3608H                  3608.0

Projects after cleaning: 91